<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand text-primary font-weight-bold" href="#">TransMonitor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
      <form class="d-flex mr-auto">
        <i class="fa fa-search ifa"></i>
        <input class="form-control me-2" style="border: none" type="search" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-ad"></i>FAQ</a>
        </li>
        <li class="nav-item">          
          <a class="nav-link d-flex" href="#">
            <i class="fa fa-bell"></i>
            <span class="badge rounded-pill bg-primary text-white"
            style="font-size: .4em; align-self: start;">3</span>
          </a>
        </li>
        <li class="nav-item d-flex user ml-5">
          <div class="">
            <h6 class="text-right" style="font-size: x-small; margin: 0; padding: 0;">Hello</h6>
            <p class="user-name">Emmanuel</p>
          </div>
          <img src="https://www.nairaland.com/attachments/7943871_callixobinnajr201810100004_jpegef83c268db2ea2ddf715df237e9a268a" class="float-right rounded-circle ml-2 user-img">
        </li>
      </ul>
    </div>
  </div>
</nav>